@using FashionManager.Models;
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="columns" class="offcanvas-siderbars">
    <div class="row visible-xs">
        <div class="container">
            <div class="offcanvas-sidebars-buttons">
                <button type="button" data-for="column-left" class="pull-left btn btn-danger btn-theme-default"><i class="fa fa-sort-amount-asc"></i> Sidebar Left</button>

                <button type="button" data-for="column-right" class="pull-right btn btn-danger btn-theme-default">Sidebar Right <i class="fa fa-sort-amount-desc"></i></button>
            </div>
        </div>
    </div>
    <div id="breadcrumb">
        <ol class="breadcrumb container">
            <li><a href="http://mazzola.vn/index.php?route=common/home"><span>Trang chủ</span></a></li>
            <li><a href="http://mazzola.vn/index.php?route=checkout/cart"><span>Giỏ Hàng</span></a></li>
            <li><a href="http://mazzola.vn/index.php?route=checkout/checkout"><span>Thanh Toán</span></a></li>
        </ol>
    </div>
    <div class="container">
        <div class="row">



            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="content">
                    <h1>Thanh Toán</h1>
                    <div class="checkout wrapper">
                        <div id="checkout">
                            <div class="checkout-heading">Bước 1: Tùy Chọn Thanh Toán</div>
                            <div class="checkout-content" style="overflow: hidden; display: block;">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-xs-12">
                                        <h2>Khách Hàng Mới</h2>
                                        <p>Tùy Chọn Thanh Toán:</p>

                                        <div class="radio">
                                            <label for="register">
                                                <input type="radio" name="account" value="register" id="register" checked="checked">
                                                Đăng ký tài khoản
                                            </label>
                                        </div>

                                        <div class="radio">
                                            <label for="guest">
                                                <input type="radio" name="account" value="guest" id="guest">
                                                Khách Thanh Toán
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <p>Bằng việc tạo tài khoản bạn có thể mua sắm nhanh hơn, theo dõi Đơn hàng và Trạng thái đơn hàng bạn đã đặt.</p><p>Đặc biệt bạn còn được nhận nhiều chương trình ưu đãi khi là khách hàng thân thiết, khách hàng VIP!</p>
                                            <input type="button" value="Tiếp tục" id="button-account" class="button btn btn-theme-default">
                                        </div>
                                    </div>
                                    @using (Html.BeginForm("Login", "UserAccount", FormMethod.Post))
                                    {
                                        <div>@ViewBag.ThongBao</div>
                                        <div id="login" class="col-lg-6 col-sm-6 col-xs-12 underline">
                                            <h2>Khách Hàng Cũ</h2>
                                            <p>Tôi là khách hàng cũ</p>

                                            <div class="form-group">
                                                <label>E-Mail:</label>
                                                <input type="text" name="email" value="" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>Mật khẩu:</label>
                                                <input type="password" name="password" value="" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <p><a href="">Quên Mật Khẩu</a></p>
                                                <input type="submit" value="Đăng nhập" id="button-login" class="button btn btn-theme-default">
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="payment-address">
                            <div class="checkout-heading"><span>Bước 2: Tài Khoản &amp; Chi Tiết Thanh Toán</span></div>
                            <div class="checkout-content"></div>
                        </div>
                        @{
                            User us = (User)Session["Account"];
                        }
                        @if (Session["Account"] != null)
                        {

                            <label for="payment-address-existing">Tôi muốn dùng địa chỉ đã Đăng ký</label>
                            <div id="payment-existing" style="display: block;">
                                <select name="address_id" style="width: 100%; margin-bottom: 15px;" size="5">
                                    <option value="681" selected="selected">@us.Address</option>
                                </select>
                            </div>

                        }
                        <div id="shipping-address">
                            <div class="checkout-heading">Bước 3: Địa chỉ nhận Hàng</div>

                            @if (Session["Account"] != null)
                            {

                                <label for="payment-address-existing">Tôi muốn dùng địa chỉ đã Đăng ký</label>
                                <div id="payment-existing" style="display: block;">
                                    <select name="address_id" style="width: 100%; margin-bottom: 15px;" size="5">
                                        <option value="681" selected="selected">@us.Address</option>
                                    </select>

                                </div>
                            }
                        </div>
                        <div id="shipping-method">
                            <div class="checkout-heading">Bước 4: Phương Thức Giao Hàng</div>
                            @if (Session["Account"] != null)
                            {
                                <div class="checkout-content" style="overflow: hidden; display: block;">
                                    <p>Vui lòng chọn phương thức vận chuyển cho đơn hàng này.</p>
                                    <table class="radio">
                                        <tbody>
                                            <tr>
                                                <td colspan="3"><b>Phí cố định</b></td>
                                            </tr>
                                            <tr class="highlight">
                                                <td>
                                                    <input type="radio" name="shipping_method" value="flat.flat" id="flat.flat" checked="checked">
                                                </td>
                                                <td>
                                                    <label for="flat.flat">Phí vận chuyển cố định</label>
                                                </td>
                                                <td style="text-align: right;">
                                                    <label for="flat.flat">5 vnđ</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <b>Thêm ghi chú cho đơn hàng của bạn</b>
                                    <br>
                                    <textarea name="comment" rows="8" cols="60"></textarea>
                                    <br>
                                    <br>


                                </div>
                            }
                        </div>

                        <div id="payment-method">
                            <div class="checkout-heading">Bước 5: Phương Thức Thanh Toán</div>
                            @if (Session["Account"] != null)
                            {
                                <div class="checkout-content" style="overflow: hidden; display: block;">
                                    <p>Vui lòng chọn phương thức thanh toán cho đơn hàng này.</p>
                                    <table class="radio">
                                        <tbody>
                                            <tr class="highlight">
                                                <td>
                                                    <input type="radio" name="payment_method" value="cod" id="cod" checked="checked">
                                                </td>
                                                <td><label for="cod">Thu tiền khi giao hàng</label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>


                                    <b>Thêm ghi chú cho đơn hàng của bạn</b>
                                    <br>
                                    <textarea name="comment" rows="8" cols="60"></textarea>
                                    <br>
                                    <br>






                                </div>
                            }
                        </div>
@using (Html.BeginForm("Order", "ShoppingCart", FormMethod.Post))
{
                            <div id="confirm">
                            <div class="checkout-heading">Bước 6: Xác Nhận Đơn Hàng</div>
                            @if (Session["Account"] != null)
                            {
                                <div class="checkout-content" style="overflow: hidden; display: block;">
                                    <div class="checkout-product table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td class="name">Tên sản phẩm</td>
                                                    <td class="model">Hình ảnh</td>
                                                    <td class="quantity">Số lượng</td>
                                                    <td class="price">Đơn giá</td>
                                                    <td class="total">Tổng Cộng</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    double total = 0;
                                                }
                                                @foreach (var item in (List<ShoppingCart>)Session["ShoppingCart"])
                                                {
                                                    <tr>
                                                        <td class="name">
                                                            <a href="">@item.Name</a>
                                                            <br>
                                                            &nbsp;<small> - Size áo: L</small>
                                                        </td>
                                                        <td class="model"><img alt="0" src=@Url.Content("~/Content/site/image/" + @item.ImageLink)></td>
                                                        <td class="quantity">@item.Quantity</td>
                                                        <td class="price">@String.Format("{0:0,0}", @item.Price1) VNĐ</td>
                                                        <td class="total">
                                                            @{
                                                                double amount = (double)item.Amount;
                                                                total += amount;
                                                            }
                                                            @String.Format("{0:0,0}", @item.Amount) VNĐ
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>

                                            <tfoot>
                                                <tr>
                                                    <td colspan="4" class="price"><b>Thành tiền::</b></td>
                                                    <td class="total">@String.Format("{0:0,0}", total) VNĐ</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="price"><b>Phí vận chuyển cố định:</b></td>
                                                    <td class="total">
                                                        5 vnđ
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="price"><b>Tổng cộng: :</b></td>
                                                    <td class="total">
                                                        @String.Format("{0:0,0}", total) VNĐ
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                   

                                        <div class="payment">
                                            <div class="buttons">
                                                <div class="right">
                                                    <input type="submit" value="Xác nhận đơn hàng" id="button-confirm" class="button btn btn-theme-default">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    }
                                </div>
}

                            </div>
                                <div class="pav-checkout"></div>
                            </div>


                        </section>

                    </div>
                </div>
            </section>



            <script>
                $('#checkout .checkout-content input[name=\'account\']').live('change', function () {
                    if ($(this).attr('value') == 'register') {
                        $('#payment-address .checkout-heading span').html('Bước 2: Tài Khoản &amp; Chi Tiết Thanh Toán');
                    } else {
                        $('#payment-address .checkout-heading span').html('Bước 2: Địa chỉ Thanh Toán');
                    }
                });

            </script>

            @*
                <script>
                                                <!--



                                                    //$('.checkout-heading a').live('click', function () {
                                                    //    $('.checkout-content').slideUp('slow');
                                                    //    $(this).parent().parent().find('.checkout-content').slideDown('slow');
                                                    //});


                                                    //$(document).ready(function () {
                                                    //    $.ajax({
                                                    //        url: 'index.php?route=checkout/login',
                                                    //        dataType: 'html',
                                                    //        success: function (html) {
                                                    //            $('#checkout .checkout-content').html(html);

                                                    //            $('#checkout .checkout-content').slideDown('slow');
                                                    //        },
                                                    //        error: function (xhr, ajaxOptions, thrownError) {
                                                    //            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                    //        }
                                                    //    });
                                                    //});
                                                // Checkout
                                                //$('#button-account').live('click', function() {
                                                //	$.ajax({
                                                //		url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').attr('value'),
                                                //		dataType: 'html',
                                                //		beforeSend: function() {
                                                //			$('#button-account').attr('disabled', true);
                                                //			$('#button-account').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                //		},
                                                //		complete: function() {
                                                //			$('#button-account').attr('disabled', false);
                                                //			$('.wait').remove();
                                                //		},
                                                //		success: function(html) {
                                                //			$('.warning, .error').remove();

                                                //			$('#payment-address .checkout-content').html(html);

                                                //			$('#checkout .checkout-content').slideUp('slow');

                                                //			$('#payment-address .checkout-content').slideDown('slow');

                                                //			$('.checkout-heading a').remove();

                                                //			$('#checkout .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                //		},
                                                //		error: function(xhr, ajaxOptions, thrownError) {
                                                //			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                //		}
                                                //	});
                                                //});

                                                // Login
                                                $('#button-login').live('click', function() {
                                                    $.ajax({
                                                        url: '/UserAccount/Login',
                                                        type: 'post',
                                                        data: $('#checkout #login :input'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-login').attr('disabled', true);
                                                            $('#button-login').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-login').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                $('#checkout .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '</div>');

                                                                $('.warning').fadeIn('slow');
                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });*@

            @*// Register
                                                $('#button-register').live('click', function() {
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/register/validate',
                                                        type: 'post',
                                                        data: $('#payment-address input[type=\'text\'], #payment-address input[type=\'password\'], #payment-address input[type=\'checkbox\']:checked, #payment-address input[type=\'radio\']:checked, #payment-address input[type=\'hidden\'], #payment-address select'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-register').attr('disabled', true);
                                                            $('#button-register').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-register').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                if (json['error']['warning']) {
                                                                    $('#payment-address .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/pav_styleshop/image/close.png" alt="" class="close" /></div>');

                                                                    $('.warning').fadeIn('slow');
                                                                }

                                                                if (json['error']['firstname']) {
                                                                    $('#payment-address input[name=\'firstname\'] + br').after('<span class="error">' + json['error']['firstname'] + '</span>');
                                                                }

                                                                if (json['error']['lastname']) {
                                                                    $('#payment-address input[name=\'lastname\'] + br').after('<span class="error">' + json['error']['lastname'] + '</span>');
                                                                }

                                                                if (json['error']['email']) {
                                                                    $('#payment-address input[name=\'email\'] + br').after('<span class="error">' + json['error']['email'] + '</span>');
                                                                }

                                                                if (json['error']['telephone']) {
                                                                    $('#payment-address input[name=\'telephone\'] + br').after('<span class="error">' + json['error']['telephone'] + '</span>');
                                                                }

                                                                if (json['error']['company_id']) {
                                                                    $('#payment-address input[name=\'company_id\'] + br').after('<span class="error">' + json['error']['company_id'] + '</span>');
                                                                }

                                                                if (json['error']['tax_id']) {
                                                                    $('#payment-address input[name=\'tax_id\'] + br').after('<span class="error">' + json['error']['tax_id'] + '</span>');
                                                                }

                                                                if (json['error']['address_1']) {
                                                                    $('#payment-address input[name=\'address_1\'] + br').after('<span class="error">' + json['error']['address_1'] + '</span>');
                                                                }

                                                                if (json['error']['city']) {
                                                                    $('#payment-address input[name=\'city\'] + br').after('<span class="error">' + json['error']['city'] + '</span>');
                                                                }

                                                                if (json['error']['postcode']) {
                                                                    $('#payment-address input[name=\'postcode\'] + br').after('<span class="error">' + json['error']['postcode'] + '</span>');
                                                                }

                                                                if (json['error']['country']) {
                                                                    $('#payment-address select[name=\'country_id\'] + br').after('<span class="error">' + json['error']['country'] + '</span>');
                                                                }

                                                                if (json['error']['zone']) {
                                                                    $('#payment-address select[name=\'zone_id\'] + br').after('<span class="error">' + json['error']['zone'] + '</span>');
                                                                }

                                                                if (json['error']['password']) {
                                                                    $('#payment-address input[name=\'password\'] + br').after('<span class="error">' + json['error']['password'] + '</span>');
                                                                }

                                                                if (json['error']['confirm']) {
                                                                    $('#payment-address input[name=\'confirm\'] + br').after('<span class="error">' + json['error']['confirm'] + '</span>');
                                                                }
                                                            } else {

                                                                var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').attr('value');

                                                                if (shipping_address) {
                                                                    $.ajax({
                                                                        url: 'index.php?route=checkout/shipping_method',
                                                                        dataType: 'html',
                                                                        success: function(html) {
                                                                            $('#shipping-method .checkout-content').html(html);

                                                                            $('#payment-address .checkout-content').slideUp('slow');

                                                                            $('#shipping-method .checkout-content').slideDown('slow');

                                                                            $('#checkout .checkout-heading a').remove();
                                                                            $('#payment-address .checkout-heading a').remove();
                                                                            $('#shipping-address .checkout-heading a').remove();
                                                                            $('#shipping-method .checkout-heading a').remove();
                                                                            $('#payment-method .checkout-heading a').remove();

                                                                            $('#shipping-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                            $('#payment-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                                            $.ajax({
                                                                                url: 'index.php?route=checkout/shipping_address',
                                                                                dataType: 'html',
                                                                                success: function(html) {
                                                                                    $('#shipping-address .checkout-content').html(html);
                                                                                },
                                                                                error: function(xhr, ajaxOptions, thrownError) {
                                                                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                                }
                                                                            });
                                                                        },
                                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                        }
                                                                    });
                                                                } else {
                                                                    $.ajax({
                                                                        url: 'index.php?route=checkout/shipping_address',
                                                                        dataType: 'html',
                                                                        success: function(html) {
                                                                            $('#shipping-address .checkout-content').html(html);

                                                                            $('#payment-address .checkout-content').slideUp('slow');

                                                                            $('#shipping-address .checkout-content').slideDown('slow');

                                                                            $('#checkout .checkout-heading a').remove();
                                                                            $('#payment-address .checkout-heading a').remove();
                                                                            $('#shipping-address .checkout-heading a').remove();
                                                                            $('#shipping-method .checkout-heading a').remove();
                                                                            $('#payment-method .checkout-heading a').remove();

                                                                            $('#payment-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                        },
                                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                        }
                                                                    });
                                                                }

                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/payment_address',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#payment-address .checkout-content').html(html);

                                                                        $('#payment-address .checkout-heading span').html('Bước 2: Địa chỉ Thanh Toán');
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });
                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });

                                                // Payment Address
                                                $('#button-payment-address').live('click', function() {
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/payment_address/validate',
                                                        type: 'post',
                                                        data: $('#payment-address input[type=\'text\'], #payment-address input[type=\'password\'], #payment-address input[type=\'checkbox\']:checked, #payment-address input[type=\'radio\']:checked, #payment-address input[type=\'hidden\'], #payment-address select'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-payment-address').attr('disabled', true);
                                                            $('#button-payment-address').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-payment-address').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                if (json['error']['warning']) {
                                                                    $('#payment-address .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/pav_styleshop/image/close.png" alt="" class="close" /></div>');

                                                                    $('.warning').fadeIn('slow');
                                                                }

                                                                if (json['error']['firstname']) {
                                                                    $('#payment-address input[name=\'firstname\']').after('<span class="error">' + json['error']['firstname'] + '</span>');
                                                                }

                                                                if (json['error']['lastname']) {
                                                                    $('#payment-address input[name=\'lastname\']').after('<span class="error">' + json['error']['lastname'] + '</span>');
                                                                }

                                                                if (json['error']['telephone']) {
                                                                    $('#payment-address input[name=\'telephone\']').after('<span class="error">' + json['error']['telephone'] + '</span>');
                                                                }

                                                                if (json['error']['company_id']) {
                                                                    $('#payment-address input[name=\'company_id\']').after('<span class="error">' + json['error']['company_id'] + '</span>');
                                                                }

                                                                if (json['error']['tax_id']) {
                                                                    $('#payment-address input[name=\'tax_id\']').after('<span class="error">' + json['error']['tax_id'] + '</span>');
                                                                }

                                                                if (json['error']['address_1']) {
                                                                    $('#payment-address input[name=\'address_1\']').after('<span class="error">' + json['error']['address_1'] + '</span>');
                                                                }

                                                                if (json['error']['city']) {
                                                                    $('#payment-address input[name=\'city\']').after('<span class="error">' + json['error']['city'] + '</span>');
                                                                }

                                                                if (json['error']['postcode']) {
                                                                    $('#payment-address input[name=\'postcode\']').after('<span class="error">' + json['error']['postcode'] + '</span>');
                                                                }

                                                                if (json['error']['country']) {
                                                                    $('#payment-address select[name=\'country_id\']').after('<span class="error">' + json['error']['country'] + '</span>');
                                                                }

                                                                if (json['error']['zone']) {
                                                                    $('#payment-address select[name=\'zone_id\']').after('<span class="error">' + json['error']['zone'] + '</span>');
                                                                }
                                                            } else {
                                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/shipping_address',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#shipping-address .checkout-content').html(html);

                                                                        $('#payment-address .checkout-content').slideUp('slow');

                                                                        $('#shipping-address .checkout-content').slideDown('slow');

                                                                        $('#payment-address .checkout-heading a').remove();
                                                                        $('#shipping-address .checkout-heading a').remove();
                                                                        $('#shipping-method .checkout-heading a').remove();
                                                                        $('#payment-method .checkout-heading a').remove();

                                                                        $('#payment-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });

                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/payment_address',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#payment-address .checkout-content').html(html);
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });
                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });

                                                // Shipping Address
                                                $('#button-shipping-address').live('click', function() {
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/shipping_address/validate',
                                                        type: 'post',
                                                        data: $('#shipping-address input[type=\'text\'], #shipping-address input[type=\'password\'], #shipping-address input[type=\'checkbox\']:checked, #shipping-address input[type=\'radio\']:checked, #shipping-address select'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-shipping-address').attr('disabled', true);
                                                            $('#button-shipping-address').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-shipping-address').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                if (json['error']['warning']) {
                                                                    $('#shipping-address .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/pav_styleshop/image/close.png" alt="" class="close" /></div>');

                                                                    $('.warning').fadeIn('slow');
                                                                }

                                                                if (json['error']['firstname']) {
                                                                    $('#shipping-address input[name=\'firstname\']').after('<span class="error">' + json['error']['firstname'] + '</span>');
                                                                }

                                                                if (json['error']['lastname']) {
                                                                    $('#shipping-address input[name=\'lastname\']').after('<span class="error">' + json['error']['lastname'] + '</span>');
                                                                }

                                                                if (json['error']['email']) {
                                                                    $('#shipping-address input[name=\'email\']').after('<span class="error">' + json['error']['email'] + '</span>');
                                                                }

                                                                if (json['error']['telephone']) {
                                                                    $('#shipping-address input[name=\'telephone\']').after('<span class="error">' + json['error']['telephone'] + '</span>');
                                                                }

                                                                if (json['error']['address_1']) {
                                                                    $('#shipping-address input[name=\'address_1\']').after('<span class="error">' + json['error']['address_1'] + '</span>');
                                                                }

                                                                if (json['error']['city']) {
                                                                    $('#shipping-address input[name=\'city\']').after('<span class="error">' + json['error']['city'] + '</span>');
                                                                }

                                                                if (json['error']['postcode']) {
                                                                    $('#shipping-address input[name=\'postcode\']').after('<span class="error">' + json['error']['postcode'] + '</span>');
                                                                }

                                                                if (json['error']['country']) {
                                                                    $('#shipping-address select[name=\'country_id\']').after('<span class="error">' + json['error']['country'] + '</span>');
                                                                }

                                                                if (json['error']['zone']) {
                                                                    $('#shipping-address select[name=\'zone_id\']').after('<span class="error">' + json['error']['zone'] + '</span>');
                                                                }
                                                            } else {
                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/shipping_method',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#shipping-method .checkout-content').html(html);

                                                                        $('#shipping-address .checkout-content').slideUp('slow');

                                                                        $('#shipping-method .checkout-content').slideDown('slow');

                                                                        $('#shipping-address .checkout-heading a').remove();
                                                                        $('#shipping-method .checkout-heading a').remove();
                                                                        $('#payment-method .checkout-heading a').remove();

                                                                        $('#shipping-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                                        $.ajax({
                                                                            url: 'index.php?route=checkout/shipping_address',
                                                                            dataType: 'html',
                                                                            success: function(html) {
                                                                                $('#shipping-address .checkout-content').html(html);
                                                                            },
                                                                            error: function(xhr, ajaxOptions, thrownError) {
                                                                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                            }
                                                                        });
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });

                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/payment_address',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#payment-address .checkout-content').html(html);
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });
                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });

                                                // Guest
                                                $('#button-guest').live('click', function() {
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/guest/validate',
                                                        type: 'post',
                                                        data: $('#payment-address input[type=\'text\'], #payment-address input[type=\'checkbox\']:checked, #payment-address input[type=\'radio\']:checked, #payment-address input[type=\'hidden\'], #payment-address select'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-guest').attr('disabled', true);
                                                            $('#button-guest').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-guest').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                if (json['error']['warning']) {
                                                                    $('#payment-address .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/pav_styleshop/image/close.png" alt="" class="close" /></div>');

                                                                    $('.warning').fadeIn('slow');
                                                                }

                                                                if (json['error']['firstname']) {
                                                                    $('#payment-address input[name=\'firstname\'] + br').after('<span class="error">' + json['error']['firstname'] + '</span>');
                                                                }

                                                                if (json['error']['lastname']) {
                                                                    $('#payment-address input[name=\'lastname\'] + br').after('<span class="error">' + json['error']['lastname'] + '</span>');
                                                                }

                                                                if (json['error']['email']) {
                                                                    $('#payment-address input[name=\'email\'] + br').after('<span class="error">' + json['error']['email'] + '</span>');
                                                                }

                                                                if (json['error']['telephone']) {
                                                                    $('#payment-address input[name=\'telephone\'] + br').after('<span class="error">' + json['error']['telephone'] + '</span>');
                                                                }

                                                                if (json['error']['company_id']) {
                                                                    $('#payment-address input[name=\'company_id\'] + br').after('<span class="error">' + json['error']['company_id'] + '</span>');
                                                                }

                                                                if (json['error']['tax_id']) {
                                                                    $('#payment-address input[name=\'tax_id\'] + br').after('<span class="error">' + json['error']['tax_id'] + '</span>');
                                                                }

                                                                if (json['error']['address_1']) {
                                                                    $('#payment-address input[name=\'address_1\'] + br').after('<span class="error">' + json['error']['address_1'] + '</span>');
                                                                }

                                                                if (json['error']['city']) {
                                                                    $('#payment-address input[name=\'city\'] + br').after('<span class="error">' + json['error']['city'] + '</span>');
                                                                }

                                                                if (json['error']['postcode']) {
                                                                    $('#payment-address input[name=\'postcode\'] + br').after('<span class="error">' + json['error']['postcode'] + '</span>');
                                                                }

                                                                if (json['error']['country']) {
                                                                    $('#payment-address select[name=\'country_id\'] + br').after('<span class="error">' + json['error']['country'] + '</span>');
                                                                }

                                                                if (json['error']['zone']) {
                                                                    $('#payment-address select[name=\'zone_id\'] + br').after('<span class="error">' + json['error']['zone'] + '</span>');
                                                                }
                                                            } else {

                                                                var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').attr('value');

                                                                if (shipping_address) {
                                                                    $.ajax({
                                                                        url: 'index.php?route=checkout/shipping_method',
                                                                        dataType: 'html',
                                                                        success: function(html) {
                                                                            $('#shipping-method .checkout-content').html(html);

                                                                            $('#payment-address .checkout-content').slideUp('slow');

                                                                            $('#shipping-method .checkout-content').slideDown('slow');

                                                                            $('#payment-address .checkout-heading a').remove();
                                                                            $('#shipping-address .checkout-heading a').remove();
                                                                            $('#shipping-method .checkout-heading a').remove();
                                                                            $('#payment-method .checkout-heading a').remove();

                                                                            $('#payment-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                            $('#shipping-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                                            $.ajax({
                                                                                url: 'index.php?route=checkout/guest_shipping',
                                                                                dataType: 'html',
                                                                                success: function(html) {
                                                                                    $('#shipping-address .checkout-content').html(html);
                                                                                },
                                                                                error: function(xhr, ajaxOptions, thrownError) {
                                                                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                                }
                                                                            });
                                                                        },
                                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                        }
                                                                    });
                                                                } else {
                                                                    $.ajax({
                                                                        url: 'index.php?route=checkout/guest_shipping',
                                                                        dataType: 'html',
                                                                        success: function(html) {
                                                                            $('#shipping-address .checkout-content').html(html);

                                                                            $('#payment-address .checkout-content').slideUp('slow');

                                                                            $('#shipping-address .checkout-content').slideDown('slow');

                                                                            $('#payment-address .checkout-heading a').remove();
                                                                            $('#shipping-address .checkout-heading a').remove();
                                                                            $('#shipping-method .checkout-heading a').remove();
                                                                            $('#payment-method .checkout-heading a').remove();

                                                                            $('#payment-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                        },
                                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                        }
                                                                    });
                                                                }
                                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });

                                                // Guest Shipping
                                                $('#button-guest-shipping').live('click', function() {
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/guest_shipping/validate',
                                                        type: 'post',
                                                        data: $('#shipping-address input[type=\'text\'], #shipping-address select'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-guest-shipping').attr('disabled', true);
                                                            $('#button-guest-shipping').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-guest-shipping').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                if (json['error']['warning']) {
                                                                    $('#shipping-address .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/pav_styleshop/image/close.png" alt="" class="close" /></div>');

                                                                    $('.warning').fadeIn('slow');
                                                                }

                                                                if (json['error']['firstname']) {
                                                                    $('#shipping-address input[name=\'firstname\']').after('<span class="error">' + json['error']['firstname'] + '</span>');
                                                                }

                                                                if (json['error']['lastname']) {
                                                                    $('#shipping-address input[name=\'lastname\']').after('<span class="error">' + json['error']['lastname'] + '</span>');
                                                                }

                                                                if (json['error']['address_1']) {
                                                                    $('#shipping-address input[name=\'address_1\']').after('<span class="error">' + json['error']['address_1'] + '</span>');
                                                                }

                                                                if (json['error']['city']) {
                                                                    $('#shipping-address input[name=\'city\']').after('<span class="error">' + json['error']['city'] + '</span>');
                                                                }

                                                                if (json['error']['postcode']) {
                                                                    $('#shipping-address input[name=\'postcode\']').after('<span class="error">' + json['error']['postcode'] + '</span>');
                                                                }

                                                                if (json['error']['country']) {
                                                                    $('#shipping-address select[name=\'country_id\']').after('<span class="error">' + json['error']['country'] + '</span>');
                                                                }

                                                                if (json['error']['zone']) {
                                                                    $('#shipping-address select[name=\'zone_id\']').after('<span class="error">' + json['error']['zone'] + '</span>');
                                                                }
                                                            } else {
                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/shipping_method',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#shipping-method .checkout-content').html(html);

                                                                        $('#shipping-address .checkout-content').slideUp('slow');

                                                                        $('#shipping-method .checkout-content').slideDown('slow');

                                                                        $('#shipping-address .checkout-heading a').remove();
                                                                        $('#shipping-method .checkout-heading a').remove();
                                                                        $('#payment-method .checkout-heading a').remove();

                                                                        $('#shipping-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });
                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });

                                                $('#button-shipping-method').live('click', function() {
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/shipping_method/validate',
                                                        type: 'post',
                                                        data: $('#shipping-method input[type=\'radio\']:checked, #shipping-method textarea'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-shipping-method').attr('disabled', true);
                                                            $('#button-shipping-method').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-shipping-method').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                if (json['error']['warning']) {
                                                                    $('#shipping-method .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/pav_styleshop/image/close.png" alt="" class="close" /></div>');

                                                                    $('.warning').fadeIn('slow');
                                                                }
                                                            } else {
                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/payment_method',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#payment-method .checkout-content').html(html);

                                                                        $('#shipping-method .checkout-content').slideUp('slow');

                                                                        $('#payment-method .checkout-content').slideDown('slow');

                                                                        $('#shipping-method .checkout-heading a').remove();
                                                                        $('#payment-method .checkout-heading a').remove();

                                                                        $('#shipping-method .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });
                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });

                                                $('#button-payment-method').live('click', function() {
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/payment_method/validate',
                                                        type: 'post',
                                                        data: $('#payment-method input[type=\'radio\']:checked, #payment-method input[type=\'checkbox\']:checked, #payment-method textarea'),
                                                        dataType: 'json',
                                                        beforeSend: function() {
                                                            $('#button-payment-method').attr('disabled', true);
                                                            $('#button-payment-method').after('<span class="wait">&nbsp;<img src="catalog/view/theme/pav_styleshop/image/loading.gif" alt="" /></span>');
                                                        },
                                                        complete: function() {
                                                            $('#button-payment-method').attr('disabled', false);
                                                            $('.wait').remove();
                                                        },
                                                        success: function(json) {
                                                            $('.warning, .error').remove();

                                                            if (json['redirect']) {
                                                                location = json['redirect'];
                                                            } else if (json['error']) {
                                                                if (json['error']['warning']) {
                                                                    $('#payment-method .checkout-content').prepend('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/pav_styleshop/image/close.png" alt="" class="close" /></div>');

                                                                    $('.warning').fadeIn('slow');
                                                                }
                                                            } else {
                                                                $.ajax({
                                                                    url: 'index.php?route=checkout/confirm',
                                                                    dataType: 'html',
                                                                    success: function(html) {
                                                                        $('#confirm .checkout-content').html(html);

                                                                        $('#payment-method .checkout-content').slideUp('slow');

                                                                        $('#confirm .checkout-content').slideDown('slow');

                                                                        $('#payment-method .checkout-heading a').remove();

                                                                        $('#payment-method .checkout-heading').append('<a>Thay Đổi &raquo;</a>');
                                                                    },
                                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                                    }
                                                                });
                                                            }
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                });



                                                function quickConfirm(module){
                                                    $.ajax({
                                                        url: 'index.php?route=checkout/confirm',
                                                        dataType: 'html',
                                                        success: function(html) {
                                                            $('#confirm .checkout-content').html(html);
                                                            $('#confirm .checkout-content').slideDown('slow');


                                                            $('.checkout-heading a').remove();

                                                            $('#checkout .checkout-heading a').remove();
                                                            $('#checkout .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                            $('#shipping-address .checkout-heading a').remove();
                                                            $('#shipping-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                            $('#shipping-method .checkout-heading a').remove();
                                                            $('#shipping-method .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                            $('#payment-address .checkout-heading a').remove();
                                                            $('#payment-address .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                            $('#payment-method .checkout-heading a').remove();
                                                            $('#payment-method .checkout-heading').append('<a>Thay Đổi &raquo;</a>');

                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                        }
                                                    });
                                                }

                                                //-->
                </script>*@





